*{
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}


body{

    margin:0;
    background:#000;
    color:white;
    text-align:center;

}


.app{

    min-height:100vh;
    padding:20px;
    padding-bottom:100px;

}



/* TOP BALANCE */

.balance-box{

    display:flex;
    justify-content:space-around;
    align-items:center;
    margin-top:20px;

}


.balance-item{

    font-size:24px;
    font-weight:bold;

}


.balance-item h2{

    margin:8px;
    font-size:40px;

}



/* PAGE */

.page{

    display:none;

}


.page.active{

    display:block;

}



/* BIG COIN */


.big-coin{

    margin-top:80px;

    width:280px;
    height:280px;

    border-radius:50%;

    border:8px solid #ffd700;

    background:

    radial-gradient(circle at 30% 30%,
    #fff47a,
    #ffd000,
    #ff9800);


    color:white;

    font-size:35px;

    font-weight:bold;

    box-shadow:

    0 0 25px #ffd700,
    inset 0 0 30px white;


    cursor:pointer;

}



.big-coin:active{

    transform:scale(0.95);

}



/* CARD */


.card{

    background:#151515;

    margin:20px;

    padding:20px;

    border-radius:20px;

    font-size:20px;

}



/* PROGRESS */


.progress{

    height:20px;

    background:#333;

    border-radius:20px;

    margin:20px;

}


#progressBar{

    height:100%;

    width:0%;

    background:#ffd700;

    border-radius:20px;

}



/* TIMER */


.timer{

    margin:30px;

    font-size:35px;

    font-weight:bold;

}



/* BUTTON */


button{

    background:#222;

    color:white;

    border:none;

    padding:15px 25px;

    border-radius:15px;

    font-size:18px;

    margin:8px;

}



button:hover{

    background:#333;

}





/* BOTTOM MENU */


.menu{


    position:fixed;

    bottom:0;

    left:0;

    width:100%;


    background:#151515;

    display:flex;

    justify-content:space-around;

    padding:12px 5px;


    border-radius:25px 25px 0 0;


}



.menu button{


    background:none;

    font-size:16px;

    padding:10px;

}




/* PROFILE */


#profilePage button{

    width:40%;

}



/* TASK */


#taskPage h2,
#rankPage h2,
#profilePage h2{

    font-size:35px;

    }
