*{
box-sizing:border-box;
}


body{

margin:0;

background:#050505;

color:white;

font-family:Arial;

text-align:center;

}



.container{

padding:20px;

}



.balance{

display:flex;

justify-content:space-around;

font-size:25px;

font-weight:bold;

margin-top:20px;

}



.balance span{

font-size:38px;

}



.coin-btn{

margin-top:120px;

width:300px;

height:300px;

border-radius:50%;

border:8px solid gold;


background:
radial-gradient(circle,#fff27a,#ffb300,#ff8800);


color:white;

font-size:32px;

font-weight:bold;


box-shadow:
0 0 40px gold,
inset 0 0 30px white;


}



.coin-btn:active{

transform:scale(.9);

}



.menu{

position:fixed;

bottom:0;

left:0;

width:100%;

display:grid;

grid-template-columns:repeat(4,1fr);


background:#151515;

padding:15px;


border-radius:30px 30px 0 0;


}



.menu button{

background:none;

border:none;

color:white;

font-size:16px;

font-weight:bold;

}



.page{

display:none;

margin-top:50px;

}



.page.active{

display:block;

}



.card{

background:#222;

padding:20px;

margin:15px;

border-radius:20px;

}


.card button{

padding:10px 30px;

border-radius:20px;

border:none;

    }
